Split this string

In [2]:
s = "Hi there Sam!"
x=s.split()
print(x)

['Hi', 'there', 'Sam!']

2.Use .format() to print the following string. Output should be: The diameter of Earth is 12742 kilometers.

In [3]:
planet = "Earth"
diameter = 12742
print("The diameter of {var1} is {var2} kilometers".format(var1=planet,var2=diameter))

The diameter of Earth is 12742 kilometers

3.In this nest dictionary grab the word "hello"

In [5]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
d['k1'][3]['tricky'][3]['target'][3]

'hello'

4.1 Create an array of 10 zeros?

In [7]:
array=np.zeros(10)
print("An array of 10 zeros:")
print(array)

An array of 10 zeros:
[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

4.2 Create an array of 10 fives?

In [8]:
array=np.ones(10)*5
print("An array of 10 fives:")
print(array)

An array of 10 fives:
[5. 5. 5. 5. 5. 5. 5. 5. 5. 5.]

5.Create an array of all the even integers from 20 to 35

In [9]:
array=np.arange(20,35,2)
print("An array of all the even integers from 20 to 35:")
print(array)

An array of all the even integers from 20 to 35:
[20 22 24 26 28 30 32 34]

6.Create a 3x3 matrix with values ranging from 0 to 8

In [10]:
x= np.arange(0,9).reshape(3,3)
print(x)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

7.Concatenate a and b a = np.array([1, 2, 3]), b = np.array([4, 5, 6])

In [11]:
a = np.array([1, 2, 3])
b = np.array([4, 5, 6])
c = np.concatenate((a,b))
print(c)

[1 2 3 4 5 6]

8.Create a dataframe with 3 rows and 2 columns

In [12]:
import pandas as pd
data = (['XXX',23],['YYY',45],['ZZZ',34])
s = pd.DataFrame(data,columns=['Name','Age'],index=[1,2,3])
s

  Name  Age
1  XXX   23
2  YYY   45
3  ZZZ   34

9.Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

In [13]:
import pandas as pd
d = pd.date_range(start='1-1-2023',end='2-10-2023',freq='d')
print(d)

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10', '2023-01-11', '2023-01-12',
               '2023-01-13', '2023-01-14', '2023-01-15', '2023-01-16',
               '2023-01-17', '2023-01-18', '2023-01-19', '2023-01-20',
               '2023-01-21', '2023-01-22', '2023-01-23', '2023-01-24',
               '2023-01-25', '2023-01-26', '2023-01-27', '2023-01-28',
               '2023-01-29', '2023-01-30', '2023-01-31', '2023-02-01',
               '2023-02-02', '2023-02-03', '2023-02-04', '2023-02-05',
               '2023-02-06', '2023-02-07', '2023-02-08', '2023-02-09',
               '2023-02-10'],
              dtype='datetime64[ns]', freq='D')

10.Create 2D list to DataFrame

In [14]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]
s = pd.DataFrame(lists,columns=['Index','Name','Age'])
s

   Index Name  Age
0      1  aaa   22
1      2  bbb   25
2      3  ccc   24